/*
   Source file:

   https://github.com/flowplayer/www/blob/master/content/media/css/timeline/art.styl

*/

#timeline_info .fp-ratio {
	padding-top: 56.25%
}

#timeline_info .info {
	background-color: #333;
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	top: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	z-index: 1;
	padding: 15px;
	color: #eee;
	font-weight: bold;
	font-size: 24px
}

#timeline_info.cue0 .info0 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:50px}
#timeline_info.cue1 .info1 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:80px}
#timeline_info.cue2 .info2 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:110px}
#timeline_info.cue3 .info3 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:140px}
#timeline_info.cue4 .info4 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:170px}
#timeline_info.cue5 .info5 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:200px}
#timeline_info.cue6 .info6 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:230px}
#timeline_info.cue7 .info7 {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); left:260px}